body {
    background-image:url("../images/deer.jpg");
    background-size: cover;
    
}

.melody-row{
    display: flex;
    justify-content: space-around;
    margin-left: 406px;
    margin-right: 406px;
    margin-top: 38px;
}